.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 999;
}
.active-link {
  color: #ff9800; /* change to your theme color */
  font-weight: bold;
  border-bottom: 2px solid #ff9800;
}


.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 34px;
  height: 34px;
  object-fit: contain;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2c3e50;
  text-shadow:
    1px 1px 0 #ccc,
    2px 2px 0 #bbb,
    3px 3px 0 #aaa,
    4px 4px 0 #999,
    5px 5px 0 #888;
  letter-spacing: 1px;
  transition: transform 0.2s ease;
}

.logo-text:hover {
  transform: scale(1.05);
  text-shadow:
    1px 1px 2px #888,
    2px 2px 4px #777,
    3px 3px 6px #666;
}


.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color:black ;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #0077cc;
}

.nav-icon {
  margin-right: 6px;
  font-size: 1.1rem;
}
